In [1]:
#Testing import and data linking
#Import pandas
import pandas as pd

#test importing covid data set
#covid_data = pd.read_csv("/Users/Phillip/UDCPA_PhillipMarsh/owid-covid-data.csv")

#  source of covid data: https://github.com/owid/covid-19-data/tree/master/public/data 
    # Our World in Data (OWID): https://ourworldindata.org/coronavirus#explore-the-global-situation

In [2]:
#look at header sample data
print(covid_data.head())

  iso_code continent     location        date  total_cases  new_cases  \
0      AFG      Asia  Afghanistan  2020-02-24          5.0        5.0
1      AFG      Asia  Afghanistan  2020-02-25          5.0        0.0
2      AFG      Asia  Afghanistan  2020-02-26          5.0        0.0
3      AFG      Asia  Afghanistan  2020-02-27          5.0        0.0
4      AFG      Asia  Afghanistan  2020-02-28          5.0        0.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           NaN         NaN                  NaN  ...
1                 NaN           NaN         NaN                  NaN  ...
2                 NaN           NaN         NaN                  NaN  ...
3                 NaN           NaN         NaN                  NaN  ...
4                 NaN           NaN         NaN                  NaN  ...

   female_smokers  male_smokers  handwashing_facilities  \
0             NaN           NaN                  37.746
1             NaN           NaN                  37.746
2             NaN           NaN                  37.746
3             NaN           NaN                  37.746
4             NaN           NaN                  37.746

   hospital_beds_per_thousand  life_expectancy  human_development_index  \
0                         0.5            64.83                    0.511
1                         0.5            64.83                    0.511
2                         0.5            64.83                    0.511
3                         0.5            64.83                    0.511
4                         0.5            64.83                    0.511

   excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                   NaN                          NaN
1                                   NaN                          NaN
2                                   NaN                          NaN
3                                   NaN                          NaN
4                                   NaN                          NaN

   excess_mortality  excess_mortality_cumulative_per_million
0               NaN                                      NaN
1               NaN                                      NaN
2               NaN                                      NaN
3               NaN                                      NaN
4               NaN                                      NaN

[5 rows x 67 columns]

In [17]:
import pandas as pd
import requests
import io
import datetime as dt
import numpy as np
#import wbdata - not working
#import world_bank_data as wb - not working

gdp_data_raw = pd.read_csv("/Users/Phillip/UDCPA_PhillipMarsh/data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4489151.csv", skiprows=4)

#look at header sample data
print(gdp_data_raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            133 non-null    float64
 5   1961            135 non-null    float64
 6   1962            137 non-null    float64
 7   1963            137 non-null    float64
 8   1964            137 non-null    float64
 9   1965            148 non-null    float64
 10  1966            151 non-null    float64
 11  1967            155 non-null    float64
 12  1968            160 non-null    float64
 13  1969            160 non-null    float64
 14  1970            169 non-null    float64
 15  1971            172 non-null    float64
 16  1972            172 non-null    float64
 17  1973            172 non-null    float64
 18  1974            173 non-null    float64
 19  1975            175 non-null    float64
 20  1976            176 non-null    float64
 21  1977            179 non-null    float64
 22  1978            178 non-null    float64
 23  1979            179 non-null    float64
 24  1980            191 non-null    float64
 25  1981            194 non-null    float64
 26  1982            195 non-null    float64
 27  1983            196 non-null    float64
 28  1984            197 non-null    float64
 29  1985            199 non-null    float64
 30  1986            201 non-null    float64
 31  1987            205 non-null    float64
 32  1988            210 non-null    float64
 33  1989            210 non-null    float64
 34  1990            226 non-null    float64
 35  1991            226 non-null    float64
 36  1992            227 non-null    float64
 37  1993            229 non-null    float64
 38  1994            231 non-null    float64
 39  1995            240 non-null    float64
 40  1996            240 non-null    float64
 41  1997            240 non-null    float64
 42  1998            242 non-null    float64
 43  1999            243 non-null    float64
 44  2000            247 non-null    float64
 45  2001            248 non-null    float64
 46  2002            253 non-null    float64
 47  2003            253 non-null    float64
 48  2004            253 non-null    float64
 49  2005            253 non-null    float64
 50  2006            254 non-null    float64
 51  2007            254 non-null    float64
 52  2008            255 non-null    float64
 53  2009            255 non-null    float64
 54  2010            256 non-null    float64
 55  2011            259 non-null    float64
 56  2012            257 non-null    float64
 57  2013            258 non-null    float64
 58  2014            259 non-null    float64
 59  2015            258 non-null    float64
 60  2016            257 non-null    float64
 61  2017            257 non-null    float64
 62  2018            257 non-null    float64
 63  2019            255 non-null    float64
 64  2020            251 non-null    float64
 65  2021            229 non-null    float64
 66  Unnamed: 66     0 non-null      float64
dtypes: float64(63), object(4)
memory usage: 139.4+ KB
None

In [18]:
gdp_data_raw = pd.read_csv("/Users/Phillip/UDCPA_PhillipMarsh/data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4489151.csv", skiprows=4)

#look at header sample data
print(gdp_data_raw.info())
gdp_data = gdp_data_raw.drop(gdp_data.iloc[:,4:63],axis = 1)

print(gdp_data.info())
print()
print(gdp_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            133 non-null    float64
 5   1961            135 non-null    float64
 6   1962            137 non-null    float64
 7   1963            137 non-null    float64
 8   1964            137 non-null    float64
 9   1965            148 non-null    float64
 10  1966            151 non-null    float64
 11  1967            155 non-null    float64
 12  1968            160 non-null    float64
 13  1969            160 non-null    float64
 14  1970            169 non-null    float64
 15  1971            172 non-null    float64
 16  1972            172 non-null    float64
 17  1973            172 non-null    float64
 18  1974            173 non-null    float64
 19  1975            175 non-null    float64
 20  1976            176 non-null    float64
 21  1977            179 non-null    float64
 22  1978            178 non-null    float64
 23  1979            179 non-null    float64
 24  1980            191 non-null    float64
 25  1981            194 non-null    float64
 26  1982            195 non-null    float64
 27  1983            196 non-null    float64
 28  1984            197 non-null    float64
 29  1985            199 non-null    float64
 30  1986            201 non-null    float64
 31  1987            205 non-null    float64
 32  1988            210 non-null    float64
 33  1989            210 non-null    float64
 34  1990            226 non-null    float64
 35  1991            226 non-null    float64
 36  1992            227 non-null    float64
 37  1993            229 non-null    float64
 38  1994            231 non-null    float64
 39  1995            240 non-null    float64
 40  1996            240 non-null    float64
 41  1997            240 non-null    float64
 42  1998            242 non-null    float64
 43  1999            243 non-null    float64
 44  2000            247 non-null    float64
 45  2001            248 non-null    float64
 46  2002            253 non-null    float64
 47  2003            253 non-null    float64
 48  2004            253 non-null    float64
 49  2005            253 non-null    float64
 50  2006            254 non-null    float64
 51  2007            254 non-null    float64
 52  2008            255 non-null    float64
 53  2009            255 non-null    float64
 54  2010            256 non-null    float64
 55  2011            259 non-null    float64
 56  2012            257 non-null    float64
 57  2013            258 non-null    float64
 58  2014            259 non-null    float64
 59  2015            258 non-null    float64
 60  2016            257 non-null    float64
 61  2017            257 non-null    float64
dtypes: float64(58), object(4)
memory usage: 129.0+ KB
None

                  Country Name Country Code     Indicator Name  \
0                        Aruba          ABW  GDP (current US$)
1  Africa Eastern and Southern          AFE  GDP (current US$)
2                  Afghanistan          AFG  GDP (current US$)
3   Africa Western and Central          AFW  GDP (current US$)
4                       Angola          AGO  GDP (current US$)

   Indicator Code          1960          1961          1962          1963  \
0  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
1  NY.GDP.MKTP.CD  2.129059e+10  2.180847e+10  2.370702e+10  2.821004e+10
2  NY.GDP.MKTP.CD  5.377778e+08  5.488889e+08  5.466667e+08  7.511112e+08
3  NY.GDP.MKTP.CD  1.040414e+10  1.112789e+10  1.194319e+10  1.267633e+10
4  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN

           1964          1965  ...          2008          2009          2010  \
0           NaN           NaN  ...  2.843017e+09  2.553631e+09  2.453631e+09
1  2.611879e+10  2.968217e+10  ...  7.082869e+11  7.192167e+11  8.604783e+11
2  8.000000e+08  1.006667e+09  ...  1.010931e+10  1.241616e+10  1.585668e+10
3  1.383837e+10  1.486223e+10  ...  5.664808e+11  5.070436e+11  5.915958e+11
4           NaN           NaN  ...  8.853861e+10  7.030717e+10  8.169956e+10

           2011          2012          2013          2014          2015  \
0  2.637989e+09  2.615084e+09  2.727933e+09  2.791061e+09  2.963128e+09
1  9.644185e+11  9.730435e+11  9.839370e+11  1.003679e+12  9.242525e+11
2  1.780511e+10  1.990732e+10  2.014640e+10  2.049713e+10  1.913421e+10
3  6.709830e+11  7.275704e+11  8.207927e+11  8.649905e+11  7.607345e+11
4  1.094365e+11  1.249982e+11  1.334016e+11  1.372444e+11  8.721929e+10

           2016          2017
0  2.983799e+09  3.092179e+09
1  8.823551e+11  1.020647e+12
2  1.811656e+10  1.875347e+10
3  6.905464e+11  6.837487e+11
4  4.984049e+10  6.897276e+10

[5 rows x 62 columns]