In [2]:
#Testing import and data linking
#Import pandas
import pandas as pd

#test importing covid data set
#covid_data = pd.read_csv("/Users/Phillip/UDCPA_PhillipMarsh/owid-covid-data.csv")

#  source of covid data: https://github.com/owid/covid-19-data/tree/master/public/data 
    # Our World in Data (OWID): https://ourworldindata.org/coronavirus#explore-the-global-situation

In [1]:
#look at header sample data
print(covid_data.head())

NameError: name 'covid_data' is not defined

In [6]:
import pandas as pd
import requests
import io
import datetime as dt
import numpy as np
#import wbdata - not working
#import world_bank_data as wb - not working

gdp_data_raw = pd.read_csv("/Users/Phillip/UDCPA_PhillipMarsh/data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4489151.csv", skiprows=4)

#look at header sample data
print(gdp_data_raw.info())

x=gdp_data_raw
if isinstance(x, pd.DataFrame):
    print("go")
    ... # do something

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            133 non-null    float64
 5   1961            135 non-null    float64
 6   1962            137 non-null    float64
 7   1963            137 non-null    float64
 8   1964            137 non-null    float64
 9   1965            148 non-null    float64
 10  1966            151 non-null    float64
 11  1967            155 non-null    float64
 12  1968            160 non-null    float64
 13  1969            160 non-null    float64
 14  1970            169 non-null    float64
 15  1971            172 non-null    float64
 16  1972            172 non-null    float64
 17  1973            172 non-null    float64
 18  1974            173 non-null    float64
 19  1975            175 non-null    float64
 20  1976            176 non-null    float64
 21  1977            179 non-null    float64
 22  1978            178 non-null    float64
 23  1979            179 non-null    float64
 24  1980            191 non-null    float64
 25  1981            194 non-null    float64
 26  1982            195 non-null    float64
 27  1983            196 non-null    float64
 28  1984            197 non-null    float64
 29  1985            199 non-null    float64
 30  1986            201 non-null    float64
 31  1987            205 non-null    float64
 32  1988            210 non-null    float64
 33  1989            210 non-null    float64
 34  1990            226 non-null    float64
 35  1991            226 non-null    float64
 36  1992            227 non-null    float64
 37  1993            229 non-null    float64
 38  1994            231 non-null    float64
 39  1995            240 non-null    float64
 40  1996            240 non-null    float64
 41  1997            240 non-null    float64
 42  1998            242 non-null    float64
 43  1999            243 non-null    float64
 44  2000            247 non-null    float64
 45  2001            248 non-null    float64
 46  2002            253 non-null    float64
 47  2003            253 non-null    float64
 48  2004            253 non-null    float64
 49  2005            253 non-null    float64
 50  2006            254 non-null    float64
 51  2007            254 non-null    float64
 52  2008            255 non-null    float64
 53  2009            255 non-null    float64
 54  2010            256 non-null    float64
 55  2011            259 non-null    float64
 56  2012            257 non-null    float64
 57  2013            258 non-null    float64
 58  2014            259 non-null    float64
 59  2015            258 non-null    float64
 60  2016            257 non-null    float64
 61  2017            257 non-null    float64
 62  2018            257 non-null    float64
 63  2019            255 non-null    float64
 64  2020            251 non-null    float64
 65  2021            229 non-null    float64
 66  Unnamed: 66     0 non-null      float64
dtypes: float64(63), object(4)
memory usage: 139.4+ KB
None
go

In [5]:
df = pd.DataFrame(gdp_data_raw)
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,...,9.839370e+11,1.003679e+12,9.242525e+11,8.823551e+11,1.020647e+12,9.910223e+11,9.975340e+11,9.216459e+11,1.082096e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,8.207927e+11,8.649905e+11,7.607345e+11,6.905464e+11,6.837487e+11,7.416899e+11,7.945430e+11,7.844457e+11,8.358084e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.334016e+11,1.372444e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09,9.007159e+09,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.041524e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10,1.884051e+10,2.106169e+10,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.048421e+11,3.879346e+11,3.354421e+11,4.199464e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.120306e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10,2.621773e+10,NaN

In [18]:
gdp_data_raw = pd.read_csv("/Users/Phillip/UDCPA_PhillipMarsh/data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4489151.csv", skiprows=4)

#look at header sample data
print(gdp_data_raw.info())
gdp_data = gdp_data_raw.drop(gdp_data.iloc[:,4:63],axis = 1)

print(gdp_data.info())
print()
print(gdp_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 62 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            133 non-null    float64
 5   1961            135 non-null    float64
 6   1962            137 non-null    float64
 7   1963            137 non-null    float64
 8   1964            137 non-null    float64
 9   1965            148 non-null    float64
 10  1966            151 non-null    float64
 11  1967            155 non-null    float64
 12  1968            160 non-null    float64
 13  1969            160 non-null    float64
 14  1970            169 non-null    float64
 15  1971            172 non-null    float64
 16  1972            172 non-null    float64
 17  1973            172 non-null    float64
 18  1974            173 non-null    float64
 19  1975            175 non-null    float64
 20  1976            176 non-null    float64
 21  1977            179 non-null    float64
 22  1978            178 non-null    float64
 23  1979            179 non-null    float64
 24  1980            191 non-null    float64
 25  1981            194 non-null    float64
 26  1982            195 non-null    float64
 27  1983            196 non-null    float64
 28  1984            197 non-null    float64
 29  1985            199 non-null    float64
 30  1986            201 non-null    float64
 31  1987            205 non-null    float64
 32  1988            210 non-null    float64
 33  1989            210 non-null    float64
 34  1990            226 non-null    float64
 35  1991            226 non-null    float64
 36  1992            227 non-null    float64
 37  1993            229 non-null    float64
 38  1994            231 non-null    float64
 39  1995            240 non-null    float64
 40  1996            240 non-null    float64
 41  1997            240 non-null    float64
 42  1998            242 non-null    float64
 43  1999            243 non-null    float64
 44  2000            247 non-null    float64
 45  2001            248 non-null    float64
 46  2002            253 non-null    float64
 47  2003            253 non-null    float64
 48  2004            253 non-null    float64
 49  2005            253 non-null    float64
 50  2006            254 non-null    float64
 51  2007            254 non-null    float64
 52  2008            255 non-null    float64
 53  2009            255 non-null    float64
 54  2010            256 non-null    float64
 55  2011            259 non-null    float64
 56  2012            257 non-null    float64
 57  2013            258 non-null    float64
 58  2014            259 non-null    float64
 59  2015            258 non-null    float64
 60  2016            257 non-null    float64
 61  2017            257 non-null    float64
dtypes: float64(58), object(4)
memory usage: 129.0+ KB
None

                  Country Name Country Code     Indicator Name  \
0                        Aruba          ABW  GDP (current US$)
1  Africa Eastern and Southern          AFE  GDP (current US$)
2                  Afghanistan          AFG  GDP (current US$)
3   Africa Western and Central          AFW  GDP (current US$)
4                       Angola          AGO  GDP (current US$)

   Indicator Code          1960          1961          1962          1963  \
0  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
1  NY.GDP.MKTP.CD  2.129059e+10  2.180847e+10  2.370702e+10  2.821004e+10
2  NY.GDP.MKTP.CD  5.377778e+08  5.488889e+08  5.466667e+08  7.511112e+08
3  NY.GDP.MKTP.CD  1.040414e+10  1.112789e+10  1.194319e+10  1.267633e+10
4  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN

           1964          1965  ...          2008          2009          2010  \
0           NaN           NaN  ...  2.843017e+09  2.553631e+09  2.453631e+09
1  2.611879e+10  2.968217e+10  ...  7.082869e+11  7.192167e+11  8.604783e+11
2  8.000000e+08  1.006667e+09  ...  1.010931e+10  1.241616e+10  1.585668e+10
3  1.383837e+10  1.486223e+10  ...  5.664808e+11  5.070436e+11  5.915958e+11
4           NaN           NaN  ...  8.853861e+10  7.030717e+10  8.169956e+10

           2011          2012          2013          2014          2015  \
0  2.637989e+09  2.615084e+09  2.727933e+09  2.791061e+09  2.963128e+09
1  9.644185e+11  9.730435e+11  9.839370e+11  1.003679e+12  9.242525e+11
2  1.780511e+10  1.990732e+10  2.014640e+10  2.049713e+10  1.913421e+10
3  6.709830e+11  7.275704e+11  8.207927e+11  8.649905e+11  7.607345e+11
4  1.094365e+11  1.249982e+11  1.334016e+11  1.372444e+11  8.721929e+10

           2016          2017
0  2.983799e+09  3.092179e+09
1  8.823551e+11  1.020647e+12
2  1.811656e+10  1.875347e+10
3  6.905464e+11  6.837487e+11
4  4.984049e+10  6.897276e+10

[5 rows x 62 columns]

In [37]:
url_gdp = "https://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.CD?downloadformat=csv" # Make sure the url is the raw version of the file on GitHub
download_gdp = requests.get(url_gdp).content

#print(download_gdp.head())
# Reading the downloaded content and turning it into a pandas dataframe





df = pd.read_csv(io.StringIO(download_gdp.decode('utf-8'),skiprows=4)) #decode('utf-8')
#df = pd.read_csv(io.StringIO(download_gdp.decode('utf-8')),skiprows=4)
# Printing out the first 5 rows of the dataframe

#print (df.head())

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xed in position 15: invalid continuation byte

<pre>import codecs
BLOCKSIZE = 1048576 # or some other, desired size in bytes
with codecs.open(download_gdp, "r", "your-source-encoding") as sourceFile:
    with codecs.open(new_gdp, "w", "utf-8") as targetFile:
        while True:
            contents = sourceFile.read(BLOCKSIZE)
            if not contents:
                break
            targetFile.write(contents)</pre>

In [ ]:
#copy of  create a function to make list from the column header names and summarize
def column_lst_summary(df):
    """create a list of column headers, count the number of column headers
    
    Args:
        df (DataFrame): the name of the dataframe to use
    
    Returns:
        list of column headers and count of headers
    """
    #columns_lst = list(df.tolist()) # create a list of the column headers from the dataframe
    columns_lst = df.columns.tolist() # create a list of the column headers from the dataframe
    columns_len = len(columns_lst) # count the number of columns in the list
    
    return columns_lst, columns_len

# create a function determine if the data set is too wide
def columns_comment(column_count_limit=30):
    """Use column_len to decide if the dataframe is too large to manage
    
    Args:
        columns_len(int): from column_lst_summary function
        column_count_limit(float): how many columns is too much, optional
    """
    if columns_len>column_count_limit:
        print("There are many columns, Drop a some of them to imporve performance and the size of the file")
    else:
        print("Number of columns appears manageable")
    
    #return columns_comment

print(column_lst_summary(covid_data_raw))
#print(columns_lst)
print(columns_len)

In [57]:
import pandas as pd

# Creating Dictionary
dict = {
    'series': ['Stranger Things', 'Money Heist', 'House of Cards'],
    'episodes': [25, 40, 45],
    'actors': ['Millie', 'Alvaro', 'Kevin']
}

# Creating Dataframe
df_1 = pd.DataFrame(dict)
print(df)

# get the values
print('---------------------')
print('Use df.values property to get NumPy array')
vals = df_1.values
print(vals)

# convert to list
print('---------------------')
print('Convert values to list')
print(vals.tolist())

            series  episodes  actors
0  Stranger Things        25  Millie
1      Money Heist        40  Alvaro
2   House of Cards        45   Kevin
---------------------
Use df.values property to get NumPy array
[['Stranger Things' 25 'Millie']
 ['Money Heist' 40 'Alvaro']
 ['House of Cards' 45 'Kevin']]
---------------------
Convert values to list
[['Stranger Things', 25, 'Millie'], ['Money Heist', 40, 'Alvaro'], ['House of Cards', 45, 'Kevin']]

In [72]:
def headers_extract(df):
    headers_ex = df.columns.tolist()
    print(headers_ex)
    return

In [73]:

print(headers_extract(df_1))

['series', 'episodes', 'actors']
None

In [80]:
def headers_len():
    headers_count = len(headers_extract)
    print(headers_count)
    return

In [83]:
print(headers_count)

NameError: name 'headers_count' is not defined

In [1]:
# Import packages
import pandas as pd
import requests
import io
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
# import matplotlib.animation as animation
import seaborn as sb

from datetime import datetime
from datetime import timedelta

# Variables
column_count_limit=30 #number of columns deemed to be managble for this review

In [2]:
# Import COVID data

# Link and download COVID dataset from OWID
url = "https://covid.ourworldindata.org/data/owid-covid-data.csv" 
download = requests.get(url).content

# Create the COVID as a pandas dataframe
covid_data_raw = pd.read_csv(io.StringIO(download.decode('utf-8')),parse_dates=['date']) #need to parse the date field
#source: https://stackoverflow.com/questions/59004960/converting-date-format-in-a-dataframe-from-a-csv-file

# Import World Bank GDP data
    # source: https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?year_high_desc=false

    # Create the GDP raw file as a pandas dataframe, headers start on row 4
gdp_data_raw = pd.read_csv("/Users/Phillip/UDCPA_PhillipMarsh/data/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4489151.csv", skiprows=4)

In [19]:
# Define Function
def test(df):
    name =[x for x in globals() if globals()[x] is df][0]
    print("Dataframe Name is: %s" % name)
 
# Run Function
test(covid_data_raw)
covid_data_raw.describe

Dataframe Name is: covid_data_raw

<bound method NDFrame.describe of        iso_code continent     location       date  total_cases  new_cases  \
0           AFG      Asia  Afghanistan 2020-02-24          5.0        5.0
1           AFG      Asia  Afghanistan 2020-02-25          5.0        0.0
2           AFG      Asia  Afghanistan 2020-02-26          5.0        0.0
3           AFG      Asia  Afghanistan 2020-02-27          5.0        0.0
4           AFG      Asia  Afghanistan 2020-02-28          5.0        0.0
...         ...       ...          ...        ...          ...        ...
216101      ZWE    Africa     Zimbabwe 2022-09-08     256834.0        9.0
216102      ZWE    Africa     Zimbabwe 2022-09-09     256859.0       25.0
216103      ZWE    Africa     Zimbabwe 2022-09-10     256870.0       11.0
216104      ZWE    Africa     Zimbabwe 2022-09-11     256870.0        0.0
216105      ZWE    Africa     Zimbabwe 2022-09-12     256888.0       18.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
0                      NaN           NaN         NaN                  NaN
1                      NaN           NaN         NaN                  NaN
2                      NaN           NaN         NaN                  NaN
3                      NaN           NaN         NaN                  NaN
4                      NaN           NaN         NaN                  NaN
...                    ...           ...         ...                  ...
216101              13.714        5596.0         0.0                  0.0
216102              16.429        5596.0         0.0                  0.0
216103              16.429        5596.0         0.0                  0.0
216104              15.286        5596.0         0.0                  0.0
216105              17.000        5596.0         0.0                  0.0

        ...  female_smokers  male_smokers  handwashing_facilities  \
0       ...             NaN           NaN                  37.746
1       ...             NaN           NaN                  37.746
2       ...             NaN           NaN                  37.746
3       ...             NaN           NaN                  37.746
4       ...             NaN           NaN                  37.746
...     ...             ...           ...                     ...
216101  ...             1.6          30.7                  36.791
216102  ...             1.6          30.7                  36.791
216103  ...             1.6          30.7                  36.791
216104  ...             1.6          30.7                  36.791
216105  ...             1.6          30.7                  36.791

        hospital_beds_per_thousand  life_expectancy  human_development_index  \
0                              0.5            64.83                    0.511
1                              0.5            64.83                    0.511
2                              0.5            64.83                    0.511
3                              0.5            64.83                    0.511
4                              0.5            64.83                    0.511
...                            ...              ...                      ...
216101                         1.7            61.49                    0.571
216102                         1.7            61.49                    0.571
216103                         1.7            61.49                    0.571
216104                         1.7            61.49                    0.571
216105                         1.7            61.49                    0.571

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                        NaN                          NaN
1                                        NaN                          NaN
2                                        NaN                          NaN
3                                        NaN                          NaN
4                                        NaN                          NaN
...                                      ...                          ...
216101                                   NaN                          NaN
216102                                   NaN                          NaN
216103                                   NaN                          NaN
216104                                   NaN                          NaN
216105                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
0                    NaN                                      NaN
1                    NaN                                      NaN
2                    NaN                                      NaN
3                    NaN                                      NaN
4                    NaN                                      NaN
...                  ...                                      ...
216101               NaN                                      NaN
216102               NaN                                      NaN
216103               NaN                                      NaN
216104               NaN                                      NaN
216105               NaN                                      NaN

[216106 rows x 67 columns]>

In [15]:
def headers_extract(df):
    headers_ex = df.columns.tolist()
    #print(headers_ex)
    return headers_ex

headers_extract(covid_data_raw)
#len(headers_extract(covid_data_raw))
print(headers_ex)

NameError: name 'headers_ex' is not defined

In [ ]:
.melt()
.wide_to_long()

.pivot()
.pivot_table()